.wrapper {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-areas:
    "ava description"
    "posts posts";
  padding: 20px;
}

.ava {
  grid-area: ava;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid white;
  }
}
.description {
  grid-area: description;
  padding: 20px;
  margin: 0;
  p {
    font-size: 20px;
  }
}
.posts {
  grid-area: posts;
}
