.pagesWrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  span {
    display: inline-block;
    margin: 0px 10px;
    cursor: pointer;
    &:hover {
      color: #00c960;
    }
  }
}
.selectedPage {
  font-weight: bold;
  color: #00c960;
}

button {
  margin: 0px 10px;
}
