.title {
  text-align: center;
  padding: 0px 20px;
  margin-top: 10px;
  p {
    font-size: 20px;
    margin: 0;
  }
}

.posts {
  padding: 0px 20px;
}

.new {
  display: flex;
  padding: 20px;
  align-items: center;
  margin-top: 10px;
  button {
    margin-left: 20px;
    width: 150px;
    height: 30px;
  }
}
