@mixin cocialIcons($text) {
  &::before {
    color: #e8436c;
    display: inline-block;
    font-family: "Themify";
    content: $text;
    margin-right: 5px;
  }
  &:hover::before {
    transform: scale(1.1);
  }
}

@mixin centeredItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 18px;
  .title {
    font-size: 22px;
  }
  a {
    font-size: 16px;
  }
}

.ava {
  width: 200px;
  // display: flex;
  align-items: center;
  padding: 15px;
  img {
    width: 200px;
    height: 200px;
    border: 1px solid white;
  }
  input {
    margin-top: 10px;
  }
}
.description,
.jobInfo,
.contacts {
  @include centeredItems;
}
.jobInfo {
  width: 25%;
}

.facebook {
  @include cocialIcons("\e634");
}

.instagram {
  @include cocialIcons("\e73d");
}

.twitter {
  @include cocialIcons("\e72a");
}

.github {
  @include cocialIcons("\e73f");
}
