@mixin centeredItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}
.wrapper {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.profile {
  display: flex;
  font-size: 18px;
  .title {
    font-size: 22px;
  }
  a {
    font-size: 16px;
  }
}

.ava {
  width: 200px;
  align-items: center;
  padding: 15px;
  img {
    width: 200px;
    height: 200px;
    border: 1px solid white;
  }
  margin-top: 20px;
}
.summaryError {
  border: 1px solid red;
  margin-bottom: 10px;
  padding: 5px 20px;
}
.ContactsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
}
.contact {
  margin-top: 10px;
}
.submitButton {
  position: absolute;
  width: 100px;
  height: 25px;
}
.cancelButton {
  width: 100px;
  height: 25px;
  background-color: red;
  align-self: center;
}
.infoTitle {
  color: #20e77b;
  span {
    color: white;
    font-style: italic;
  }
}
.description,
.jobInfo,
.contacts {
  @include centeredItems;
}

.description {
  align-items: flex-start;
}
