.content {
    grid-area: c;
    display: grid;
    grid-template-rows: 100px 40px 60px auto;
    grid-template-columns: 100px 1fr;
    grid-template-areas: 'ava description' 'title title' 'new new' 'posts posts';
    grid-gap: 5px;
    background-color: #27a0ab;
    padding: 20px;
    color: white;
    font-size: 16px;
  }

.ava {
  grid-area: ava;
  img {
    width: 100px;
    height: 100px;
  }
}
.description {
  grid-area: description;
  padding: 20px;
  margin: 0;
  p {
    font-size: 20px;
  }
}
.title {
  grid-area: title;
  text-align: center;
  padding: 0px 20px;
  span {
    font-size: 20px;
  }
}
.new {
  grid-area: new;
  padding: 20px;
}
.posts {
  grid-area: posts;
  padding: 0px 20px;
}
.post {
  margin: 20px 0;
}

  