.post {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.ava {
  img {
    width: 50px;
    height: 50px;
  }
}
.message {
  p {
    display: flex;
    padding-left: 20px;
    max-width: 400px;
  }
  div {
    display: flex;
  }
  .like {
    margin-left: 10px;
    p {
      padding-left: 25px;
    }
    a {
      display: inline-block;
      margin-left: 10px;
      color: white;
    }
    a span {
      line-height: 50px;
      display: inline-block;
      &::before {
        color: #e8436c;
        display: inline-block;
        font-family: "Themify";
        content: "\e634";
        margin-right: 5px;
      }
      &:hover::before {
        transform: scale(1.1);
      }
    }
  }
}
