a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  color: white;
  &:hover {
    text-decoration: underline;
    color: #b7c4b8;
  }
  &:active {
    text-decoration: underline;
    color: #b7c4b8;
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 80px 100%;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
  grid-template-areas: 'h h' 'n c';
}
