a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  color: #83f0dc;
  &:hover {
    text-decoration: underline;
    color: #20e77b;
  }
  &:active {
    text-decoration: underline;
    color: #20e77b;
  }
}

button {
  background-color: #00c960;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s;
  text-align: center;
  &:hover {
    border: 2px solid white;
  }
  &:active {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: -1px;
    right: -10px;
    transition: 0.5s;
  }
  &:hover span {
    padding-right: 15px;
  }
  &:hover span:after {
    opacity: 1;
    right: 0;
  }
}

textarea {
  width: 200px;
  height: 30px;
  outline: none;
  resize: none;
  white-space: nowrap;
  overflow: auto;
  border: 1px solid #526163;
  border-radius: 5px;
  &:focus {
    border: 1px solid white;
    box-shadow: 1px 1px 1px white;
  }
}

.app-wrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
  grid-template-areas:
    "header header"
    "navbar content";
}

main {
  background-color: #283035;
  color: white;
  font-size: 16px;
}

.content {
  grid-area: content;
  min-height: 600px;
}
