@font-face {
  font-family: "Tech Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/ShareTechMono-Regular.ttf");
}
@font-face {
  font-family: "Themify";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/themify.ttf");
}

body {
  margin: 0;
  font-family: "Tech Mono";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
