.title p {
  text-align: center;
  font-size: 20px;
}

.dialogsWrapper {
  display: flex;
}

.dialogItems {
  flex-basis: 15%;
  margin-left: 10px;
}

.messageItems {
  flex-basis: 40%;
  margin-left: 10px;
}
